name: Release

on:
  push:
    branches:  
        - main 
  workflow_dispatch:

jobs:
    docker-release:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v6
            - name: Set up QEMU
              uses: docker/setup-qemu-action@v3
            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v3
            - name: Login to Docker Hub
              uses: docker/login-action@v3
              with:
                username: ${{ vars.DOCKERHUB_USERNAME }}
                password: ${{ secrets.DOCKERHUB_TOKEN }}
            - name: Docker Build and Push
              uses: docker/build-push-action@v4
              with:
                context: .
                push: true
                tags: berkaydogan/celsius-to-fahrenheit:${{ github.sha }}
